.panel {
    background-color: #00aa00;
}

.control-panel {
    margin: 5px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6C757D;
    border-radius: 15px;
}

.btn-panel {
    width: 100%;
    padding-top: 20px;
}

.btn-info {
    background-color: #508BFC;
    color: #FFF;
    border-color: #2F3E48;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #4b88fa;
    color: #FFF;
    border-color: #31347B;
}

.btn-primary {
    background-color: #abe1f9;
    color: #FFF;
    border-color: #2F3E48;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #a0cee3;
    color: #FFF;
    border-color: #31347B;
}

.btn-danger {
    background-color: #f79897;
    color: #FFF;
    border-color: #2F3E48;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #e18a89;
    color: #FFF;
    border-color: #31347B;
}

.btn-clicked,
.btn-clicked:hover,
.btn-clicked:active,
.btn-clicked.active {
    background-color: #AA0000;
}

.btn-inout-text {
    font-weight: bold;
    text-align: center;
    color: black;
}

.txt-panel-label {
    /* display: grid;
    grid-template-columns: 1fr; */
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 10px;
}
/* .txt-panel-label ResetButton {
    grid-row-start: 1;
    grid-column-start: 1;
} */

.stack-parent {
    display: grid;
    grid-template-columns: 1fr;
}

.stack-parent div{
    grid-row-start: 1;
    grid-column-start: 1;
}

.edit-button {
    display: flex;
    margin-top: 7px;
    margin-left: 85%;
}

.txt-input-label {
    font-weight: bold;
    text-align:center;
    color: white;
}

.blur {
    visibility: hidden;
}

.absolute-pos {
    position: absolute;
}

.hidden {
    display: none;
}